%table{:width => '50%'}
  %thead
    %th
    %th
    %th
  %tbody
    -Category.all.each do |category|
      -if category.seq_id == 1 then next end
      %tr{id: "row#{category.seq_id}"}
        %td
          .span.category_label{:style => "background-color:#{category.color};"} #{category.name}
        %td{:style => "text-align:right;"}
          %a.btn.edit{id: "#{category.seq_id}"}
            %i.icon-pencil
        %td{:style => "text-align:right;"}
          %a.btn.delete{id: "#{category.seq_id}"}
            %i.icon-trash
