%td #{haml :'history/_format_category'}
%td #{@t.date_to_s}
%td
  %input.form-control{id: 'edit_text', type: 'text', value: "#{@t.name}"}
%td{class: "#{@t.determine_text_css}"} #{@t.sum}
%td
  %a.btn.save{id: "#{@t.id}"}
    %i.glyphicon.glyphicon-ok
