%td
  %a.category{id: "#{@t.id}"}
    -cat = Category.get_category(@t.category_id)
    .increment{id: "cat_#{@t.id}"}
      .span.cat_label{style: "background-color:#{cat.color};"} #{cat.name}
%td #{@t.date_to_s}
%td
  %input.smaller{id: 'edit_text', type: 'text', value: "#{@t.name}"}
%td{class: "#{@t.determine_sum}"} #{@t.sum}
%td
  %a.btn.save{id: "#{@t.id}"}
    %i.icon-ok
