%a.category{id: "#{@t.id}"}
  -cat = Category.get_category(@t.category_id)
  .row_category{id: "cat_#{@t.id}"}
    .span.category_label{style: "background-color:#{cat.color};"} #{cat.name}
.category-list{id: "#{@t.id}"}
  -categories = Category.all.drop(1)
  -categories.delete(Category.get_category(@t.category_id))
  -categories.each do |category|
    %a.new_category{id: "#{category.seq_id} #{@t.id}"}
      -@category = category
      =haml :'util/_category_label', :layout => false
    %br
