%table.table{:width => '90%'}
  %thead
    %th
    %th
    %th
    %th
    %th
  %tbody
    -year = ""
    -month = ""
    -@transactions.each do |transaction|
      -if year == "" or transaction.timestamp.year != year
        -year = transaction.timestamp.year
        %tr
          %td
            %h3 #{year.to_s + " (" + Transaction.get_sum_year(year, @cat_ids, @from, @to, @user).to_s + ")"}
      -if month == "" or transaction.timestamp.month != month
        -month = transaction.timestamp.month
        %tr
          %td
            %h4 #{month_name(month).to_s + " (" + Transaction.get_sum_month_year(year, month, @cat_ids, @from, @to, @user).to_s + ")"}
        %tr
          %td
            %b Kategori
          %td
            %b Datum
          %td
            %b Namn
          %td
            %b Summa
      %tr{:class => "#{transaction.determine_row}"}
        %td
          %a{:href => "/history/update_category/#{transaction.id}"}
            .span.cat_label{:style => "background-color:#{Category[transaction.category_id].color};"}
              #{Category[transaction.category_id].name}
        %td #{transaction.timestamp.strftime("%Y-%m-%d")}
        %td #{transaction.name}
        %td{:class => "#{transaction.determine_sum}"} #{transaction.sum}
        %td
          %a.btn{href: "history/#{transaction.id}/edit"}
            %i.icon-pencil
          %a.btn{onclick: "delete_transaction(#{transaction.id})"}
            %i.icon-trash
