-year = @last.year.to_i
-while year >= @first.year
  %a.showhide{href: "##{year}"}
    %h3 #{"#{year.to_s} (#{Transaction.get_sum_year(year, @cat_ids, @user)})"}
  %div{id: "#{year}"}
    -for month in 12.downto(1) do
      -@transactions = Transaction.get_transactions(year, month, @cat_ids, @user)
      -unless @transactions.count == 0
        %a.showhide{href: "##{year.to_s + month_name(month)}"}
          %h4 #{month_name month} (#{Transaction.get_sum_year_month(year, month, @cat_ids, @user)})
        %div{id: "#{year.to_s + month_name(month)}"}
          %table.table
            %tbody
            -@transactions.each do |t|
              -@t = t
              %tr{id: "row#{@t.id}", class: "#{@t.determine_row_css}"}
                =haml :'history/_display_row'
  -year -= 1
  %script{src: "/js/helpers.js"}
  %script{src: "/js/history.js"}
