.container
  %form.form{action: "/history/update/#{@transaction.id}", method: 'post'}
    .control-group
      %label.control-label{for: 'name'}Namn
      .controls
        %input{:type => 'text', :id => 'name', :name => 'transaction[name]', :value => "#{@transaction.name}"}
      %label.control-label{for: 'category'}Kategori
      .controls
        - Category.all.each do |cat|
          -if cat.id == 1 then next end
          .span.cat_label{style: "background-color:#{cat.color};"}
            -if @transaction.category_id == cat.seq_id
              %input{checked: 'true', type: 'radio', id: "#{cat.seq_id}", name: 'transaction[category_id]', value: "#{cat.seq_id}"} #{cat.name}
            -else
              %input{:type => "radio", :id => "#{cat.seq_id}", :name => 'transaction[category_id]', :value => "#{cat.seq_id}"} #{cat.name}
    %br
    %br
    %input{type: 'submit', value: 'Spara'}
