.container
  %form.form{action: "/history/update/#{@transaction.id}", method: 'post'}
    .control-group
      %label.control-label{for: 'name'}Namn
      .controls
        %input{:type => 'text', :id => 'name', :name => 'transaction[name]', :value => "#{@transaction.name}"}
      %label.control-label{for: 'category'}Kategori
      .controls
        - Category.all.each do |category|
          %label.radio.inline
            .span{:class => "#{category.css}"}
              -if category.id == @transaction.category_id
                %input{:checked => 'true', :type => 'radio', :id => "#{category.id}", :name => 'transaction[category_id]', :value => "#{category.id}"} #{category.name}
              -else
                %input{:type => 'radio', :id => "#{category.id}", :name => 'transaction[category_id]', :value => "#{category.id}"} #{category.name}
    %input{type: 'submit', value: 'Spara'}
