.control-group
  -Category.all.each do |category|
    -if Transaction.where(category_id: category.seq_id).count == 0 then next end
    %label.checkbox.inline
      .span.category_label{style: "background-color:#{category.color};"}
        %input{class: 'click_filter', id: "cat#{category.seq_id}", type: 'checkbox', checked: 'yes'} #{category.name}
.control-group.small-box
  .pull-left
    .filter.pull-left.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
        %label från
      %input.form-control.text_filter{id: "from", type: 'text', value: "#{Transaction.first_transaction(@user).to_s}"}
    .filter.pull-left.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
        %label till
      %input.form-control.text_filter{id: "to", type: 'text', value: "#{Transaction.last_transaction(@user).to_s}"}
    .filter.pull-right.input-group
      %span.input-group-addon
        %span.glyphicon.glyphicon-search
      %input.form-control.text_filter{type: 'text', id: 'query', placeholder: 'Filtrera...'}
.clearfix
