.control-group
  - Category.all.each do |category|
    %label.checkbox.inline
      .span{:class => "#{category.css}"}
        %input{:type => 'checkbox', :checked => 'yes', :name => "category[#{category.id}]"} #{category.name}
.control-group
  - @user_transactions = Transaction.order(Sequel.desc(:timestamp)).where(:owner => env['warden'].user.username)
  Från
  %input.input-small{type: 'text', name: 'date_from', value: "#{Transaction.get_last_entry(env['warden'].user.username)}"}
  till
  %input.input-small{type: 'text', name: 'date_to', value: "#{Transaction.get_first_entry(env['warden'].user.username).to_s}"}
