.control-group
  - Category.all.each do |category|
    %label.checkbox.inline
      .span{:class => "#{category.css}"}
        %input{:type => 'checkbox', :checked => 'yes', :name => "category[#{category.id}]"} #{category.name}
.span.abc
  %input{:type => 'checkbox', :checked => 'yes', :name => "SKOLA"} SKOLA
.span.def
  %input{:type => 'checkbox', :checked => 'yes', :name => "SKOLA"} AVGIFTER OCH DRYCK
.span.ghi
  %input{:type => 'checkbox', :checked => 'yes', :name => "SKOLA"} AKTIER
.control-group
  Från
  %input.input-small{type: 'text', name: 'date_from', value: "#{Transaction.first_transaction(@user).to_s}"}
  till
  %input.input-small{type: 'text', name: 'date_to', value: "#{Transaction.last_transaction(@user).to_s}"}
