.control-group
  - Category.all.each do |category|
    %label.checkbox.inline
      .span.cat_label{:style => "background-color:#{category.color};"}
        %input{:type => 'checkbox', :checked => 'yes', :name => "category[#{category.id}]"} #{category.name}
.control-group
  Från
  %input.input-small{type: 'text', name: 'date_from', value: "#{Transaction.first_transaction(@user).to_s}"}
  till
  %input.input-small{type: 'text', name: 'date_to', value: "#{Transaction.last_transaction(@user).to_s}"}
