.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
		.container
			%table.table-striped{:width => '100%'}
				%thead
					%th Kategori
					%th Datum
					%th Namn
					%th Summa
					%th
				%tbody
					- @transactions = Transaction.all
					- @transactions.each do |transaction|
						%tr{:align => 'center'}
							%td 
								- if transaction.category == 1
									.span.label.label-success #{transaction.category}
								- else
									.span.label #{transaction.category}
							- t = transaction.timestamp
							%td #{t.year.to_s + '-' + t.month.to_s + '-' + t.day.to_s}
							%td #{transaction.name}
							%td 
								.font.color{}
								#{transaction.sum}
							%td 
								%a.btn.btn{:href => '/#{transaction.id}'}Redigera