.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/history/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
		.container
			%table.table{:width => '100%'}
				%thead
					%th
					%th 
					%th 
					%th 
					%th
				%tbody
				- year = ""
				- month = ""
				- @transactions = Transaction.order(Sequel.desc(:timestamp)).where(:owner => env['warden'].user.username)
				- @transactions.each do |transaction|
					- if year == "" or transaction.timestamp.year != year
						- year = transaction.timestamp.year
						%tr
							%td
								%h4 #{year}
							%td
							%td
							%td 
							%td
								%h4 #{Transaction.get_sum_year(year)}
					- if month == "" or transaction.timestamp.month != month
						- month = transaction.timestamp.month
						%tr
							%td	
								#{transaction.timestamp.strftime("%B")}
							%td
							%td
							%td
							%td #{Transaction.get_sum_month(year, month)}
						%tr
							%td 
								%b Kategori
							%td 
								%b Datum
							%td 
								%b Namn
							%td 
								%b Summa
					%tr{:align => 'center', :class => "#{transaction.determine_row}"}
						%td 
							%a{:href => "/history/updateCategory/#{transaction.id}"}
								.span{:class => "#{Category[transaction.category_id].css}"} 
									#{Category[transaction.category_id].name}
						%td #{transaction.timestamp.strftime("%Y-%m-%d")}
						%td #{transaction.name}
						%td{:class => "#{transaction.determine_sum}"} #{transaction.sum}
						%td 
							%a{:href => "/history/edit/#{transaction.id}"}
								%i.icon-pencil
							%a{:href => "/history/delete/#{transaction.id}"}
								%i.icon-trash