.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/history/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
		.container
			%table.table-striped{:width => '100%'}
				%thead
					%th Kategori
					%th Datum
					%th Namn
					%th Summa
					%th
				%tbody
					- @transactions = Transaction.where(:owner => env['warden'].user.username)
					- @transactions.each do |transaction|
						%tr{:align => 'center'}
							%td 
								%a{:href => "/history/updateCategory/#{transaction.id}"}
									.span{:class => "#{css_category transaction.category}"} 
										#{i_to_category transaction.category}
							%td #{transaction.timestamp.strftime("%Y-%m-%d")}
							%td #{transaction.name}
							%td{:class => "#{determine_class transaction.sum}"} #{transaction.sum}
							%td 
								%a{:href => "/history/edit/#{transaction.id}"}
									%i.icon-pencil
								%a{:href => "/history/delete/#{transaction.id}"}
									%i.icon-trash