.container
	%h3 
		Hej #{env['warden'].user.username}!
	%center
		%form.form-inline{action: '/upload', method: 'post', enctype: 'multipart/form-data'}
			%input{type: 'file', name: 'myFile'}
			%input.btn.btn-success{type: 'submit', value: 'Ladda upp'}
		.container
			%table.table-striped{:width => '100%'}
				%thead
					%th Kategori
					%th Datum
					%th Namn
					%th Summa
					%th
				%tbody
					- @transactions = Transaction.all
					- @transactions.each do |transaction|
						%tr{:align => 'center'}
							%td 
								- if transaction.category == 0
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label 
											#{i_to_category transaction.category}
								- elsif transaction.category == 1
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label.label-success
											#{i_to_category transaction.category}
								- elsif transaction.category == 2
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label.label-warning
											#{i_to_category transaction.category}
								- elsif transaction.category == 3
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label.label-info
											#{i_to_category transaction.category}
								- elsif transaction.category == 4
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label.label-inverse
											#{i_to_category transaction.category}
								- elsif transaction.category == 5
									%a{:href => "/updateCategory/#{transaction.id}"}
										.span.label.label-important
											#{i_to_category transaction.category}

							- t = transaction.timestamp
							%td #{t.year.to_s + '-' + t.month.to_s + '-' + t.day.to_s}
							%td #{transaction.name}
							%td	#{transaction.sum}
							%td 
								%a{:href => "/edit/#{transaction.id}"}
									%i.icon-pencil
								%a{:href => "/delete/#{transaction.id}"}
									%i.icon-trash